@using Lumiere.ViewModels
@model List<ReservedFilmViewModel>

@foreach (ReservedFilmViewModel reservedFilm in Model)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-controller="Film" asp-action="Index" asp-route-id=@reservedFilm.FilmId>
                    <img src=@reservedFilm.FilmPosterUrl class="card-img" alt="Постер к фильму" style="max-height: 220px;">
                </a>
            </div>
            <div class="col-md-8" style="max-height: 218px; overflow-y: scroll;">
                <div class="card-body pt-2">
                    <h6 class="card-text text-center">@reservedFilm.FilmName</h6>

                    <div class="d-flex flex-column text-center justify-content-between">
                        <span class="card-text text-dark">Длительность: @reservedFilm.FilmDuration</span>
                        <div>
                            <span class="card-text">Дата: @reservedFilm.SeanceDate.ToString("m")</span>&ensp;
                            <span class="card-text">Время: @reservedFilm.SeanceTime.ToString(@"hh\:mm")</span>
                        </div>
                        <span class="card-text mt-2 h6 mb-0">@reservedFilm.RoomNumber</span>
                        @foreach (KeyValuePair<Guid, string> seatRowNumber in reservedFilm.SeatRowNumbers)
                        {
                            <div class="d-flex align-items-center justify-content-around">
                                <span class="card-text flex-grow-1 h6 mb-0">@seatRowNumber.Value</span>

                                    <button type="button" onclick='reservedSeatDeletionConfirm("@seatRowNumber.Key")'>
                                        <span aria-hidden="true" style="font-size: 1.5rem; line-height: 1; font-weight: 700; color: #000000ab">&times;</span>
                                    </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="reservedSeatDeleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form class="p-4" method="post" asp-controller="Booking" asp-action="Delete">
                    <h6>Вы уверены, что хотите отменить бронь?</h6>
                    <br>
                    <input type="hidden" id="seat_Id" name="seatId" value="">

                    <button type="submit" class="btn btn-danger">Да</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Нет</button>
                </form>
            </div>
        </div>
    </div>
</div>