@using Lumiere.ViewModels
@model List<ReservedFilmViewModel>

@foreach (ReservedFilmViewModel reservedFilm in Model)
{
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-controller="Film" asp-action="Index" asp-route-id=@reservedFilm.FilmId>
                    <img src=@reservedFilm.FilmPosterUrl class="card-img" alt="Постер к фильму" style="max-height: 220px;">
                </a>
            </div>
            <div class="col-md-8" style="max-height: 218px; overflow-y: scroll;">
                <div class="card-body pt-2">
                    <h6 class="card-text text-center">@reservedFilm.FilmName</h6>

                    <div class="d-flex flex-column text-center justify-content-between">
                        <span class="card-text text-dark">Длительность: @reservedFilm.FilmDuration</span>
                        <div>
                            <span class="card-text">Дата: @reservedFilm.SeanceDate.ToString("m")</span>&ensp;
                            <span class="card-text">Время: @reservedFilm.SeanceTime.ToString(@"hh\:mm")</span>
                        </div>
                        <span class="card-text mt-2 h6 mb-0">@reservedFilm.RoomNumber</span>
                        @foreach (KeyValuePair<Guid, string> seatRowNumber in reservedFilm.SeatRowNumbers)
                        {
                            <div class="d-flex align-items-center justify-content-around">
                                <span class="card-text flex-grow-1 h6 mb-0">@seatRowNumber.Value</span>
                                <form asp-controller="Booking" asp-action="Delete" asp-route-seatId=@seatRowNumber.Key>
                                    <button type="submit">
                                        <span aria-hidden="true" style="font-size: 1.5rem; line-height: 1; font-weight: 700; color: #000000ab">&times;</span>
                                    </button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}